<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ydm.blog.mapper.ArticleCountMapper">
    <resultMap id="BaseResultMap" type="com.ydm.blog.entity.ArticleCount">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="article_id" property="articleId" jdbcType="INTEGER" />
        <result column="count" property="count" jdbcType="INTEGER" />
    </resultMap>
</mapper>